<main>
    <ul>
        <li><a href="/current">Información de usuario</a></li>
        <li><a href="/auth/login">Iniciar Sesión</a></li>
        <li><a href="/auth/logout">Cerrar Sesión</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <table>
        <th>Name</th>
        <th>Last-Name</th>
        <th>E-mail</th>
        <tr>
            <td>{{userInfo.firstName}}</td>
            <td>{{userInfo.lastName}}</td>
            <td>{{userInfo.email}}</td>
        </tr>
    </table>
</main>